
<div>
<%= render 'layouts/hamburger_menu' %>

<h1 class="title-three">How It Works</h1>
<h2>A detailed step by step guide is coming your way soon!</h2>

<div class="photo-wrap">
 <%= image_tag("icon2.svg")%>
</div>
</div>