<%# 2 Log in log out buttons %>

 <div class="top-nav">
  <div class="log-in-btn"><%= link_to 'Log In', new_user_session_path %></div>
  <div class="sign-up-btn"><%= link_to 'Sign Up', new_user_registration_path %></div>
  <%# Menu icon %>
  <div class="hamburger-menu" style="font-size:45px;cursor:pointer" onclick="openNav()">&#9776;</div>
    
</div>
<%# Menu overlay %>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/" class="nav-heading"><h1>QLess</h1></a>
  <a href="/"><h1>Home</h1></a>
  <a href="users/sign_in"><h1>Login</h1></a>
  <a href="/users/sign_up"><h1>Sign Up</h1></a>
  <a href="/how_it_works"><h1>How It Works</h1></a>
  <a href="/support"><h1>Support</h1></a>
  
</div>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "300px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

<%# Title and photo  %>
<div class="title">
 <h1>QLess</h1>
 <h2>Live More - Queue Less</h2>
<div>

<div class="photo-wrap">
 <%= image_tag("index2.png")%>
</div>





