// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// New Profile Styling

// profile-icon-wrap

.profile-icon-wrap {
 padding: 50px 0 25px 0;
 h1 {
  padding-top: 10px;
 }
}

input[type="text"] {
 background-color : #454445; 
}

.text textarea  {
 background-color: #454445;
}

.country select  {
 background-color: #454445;
}

#profile_country_code {
 width: 365px;
}
.file {
 display: none;
}


// Profile Show Page

.text-fields p {
 width: 365px;
 text-align: left; 
 border: 1.25px solid white;
 border-radius: 10px;
 background-color: #454445;
 display: inline-block;
 padding: 10px 0 5px 15px;
 font-size: 1.2em;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.bottom-btn-one, .bottom-btn-two {
 width: 150px;
 border: 1.25px solid white;
 border-radius: 10px;
 display: inline-block;
 padding: 10px 0 5px 15px;
 margin: 15px 0 15px 5px;
 font-family: 'Martel Sans', sans-serif;
 font-size: 1.2em;
 color: #ffffff;
 background-color: #454445;
 a {
  text-decoration: none;
 }
}